:root {
    --primaryColour: #f1c232ff;
    --trendingColour: #2600ff;
}

* {
    font-family: "Abel", sans-serif;
}

.home {
    background-color: black;
}

.scroll-a {
    color: white;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 16px);
    padding: 10px;
    z-index: 1;
    background-color: white;
    text-align: left;
    color: black;
}

.headerLogo {
    height: 50px;
}

.marqueeWhite {
    color: white;
    text-decoration-color: white;
}

.marqueeBlack {
    color: black;
    text-decoration-color: black;
}

.marqueeHome {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 16px);
    padding: 10px;
    z-index: 1;
    background-color: white;
    text-align: left;
    color: black;
    padding-top: 50px;
}

.scrollLink {
    color: white;
}

.pageNotFound {
    background-color: black;
    text-align: center;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: white;
    left: 0;
    width: calc(100% - 20px);
    padding: 10px;
    z-index: 1;
    text-align: left;
    color: black;
}

.blackText {
    color: black;
}

.whiteText {
    color: white;
}

.article {
    background-color: black;
    color: white;
}

.headlines {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 16px);
    padding: 10px;
    z-index: 1;
    background-color: #ff0400;
    text-align: left;
    color: white;
}

.marqueeBlackBkg {
    background-color: #ff0400;
}