* {
    font-family: 'Abel', sans-serif;
}

.home {
    background-color: black;
}

.scroll-a {
    color: white;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 16px);
    padding: 10px;
    z-index: 1;
    background-color: white;
    text-align: left;
}

.headerLogo {
    height: 50px;
}

.marqueeWhite {
    color: white;
    text-decoration-color: white;
}

.marqueeBlack {
    color: black;
    text-decoration-color: black;
}

.marquee {
    padding-top: 85px;
}

.scrollLink {
    color: white;
}

.pageNotFound {
    background-color: black;
    text-align: center;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: white;
    left: 0;
    width: calc(100% - 20px);
    padding: 10px;
    z-index: 1;
    text-align: left;
}

.blackText {
    color: black;
}

.whiteText {
    color: white;
}

.article {
    color: black;
}